@model SmartDelivery.WEB.Models.CategoryViewModel

@{ ViewData["Title"] = "category details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<h1 class="text-info mb-5">@Model.Category.Title details</h1>
<br />

<form method="post" asp-action="Edit">
    @if (Model.Category.ParentId == null)
    {
        <div class="row p-1">
            <div class="col-6 offset-6 text-right">
                <p>
                    <a asp-action="Create" asp-route-Id="@Model.Category.Id" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;Add subcategory</a>
                </p>
            </div>
        </div>
    }
    <br />
    <div class="form-group row d-flex justify-content-center font-weight-bold text-info">
        <div class="col-2">
            <label asp-for="Category.Title" class="col-form-label font-weight-bold text-info">Name:</label>
        </div>
        <div class="col-5">
            <input asp-for="Category.Title" disabled class="form-control" />
        </div>
    </div>
    <br />
</form>

<div class="">
    @if (Model.Categories.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="thead-dark">
                <th>
                    Nazwa
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td>
                        <partial name="PartialView/_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </table>
        <br /> }
    else
    {
        @if (Model.Category.ParentId == null)
        {
            <div class=" d-flex justify-content-center">
                <p>subcategories don't exist...</p>
            </div>}
    }
</div>
@if (@Model.Category.ParentId is null)
{
    <div class="col-4 p-0">
        <a asp-action="Index" class="btn btn-success form-control">Powrót</a>
    </div> }
else
{
    <div class="col-4">
        <a asp-action="Details" asp-route-id="@Model.Category.ParentId" class="btn btn-success form-control">Back</a>
    </div>}