@model SmartDelivery.WEB.Models.DishViewModel

@{ ViewData["Title"] = "dish list";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<form method="get">
    <div class="">
        <h1 class="text-secondary">dish list</h1>
    </div>
    <br />
    <div class="p-1 pb-0">
        <partial name="Partialview/_CreateButtonPartial" />
    </div>
    <partial name="PartialView/_SearchByCategory" />
    <div class="p-1">
        @if (Model.Products.Any())
        {
            <div style="overflow-x: auto;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>
                                @{ if (item.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.Image);
                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                        <div class="col-3">
                                            <img src="@imgsrc" height=100 width=100 />
                                        </div>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.GrossPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Category.Title)
                            </td>
                            <td>
                                <partial name="PartialView/_TableButtonPartial" model="item.Id" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <partial name="Partialview/_Pagination" model="@Model.PagingInfo" /> }
        else
        {
        <p>There are no dishes yet ...</p>}
    </div>
    <br />
</form>