@model SmartDelivery.WEB.Models.UserListViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<form method="get">
    <partial name="PartialView/_SearchByEmail" />
    <div>
        @if (Model.Users.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            User name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone number
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Users)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>

                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                    {
                        <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                            <i class="fas fa-lock-open"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
                            <i class="fas fa-lock"></i>
                        </a>
                    }
                </td>
                <td></td>
            </tr>
                }
            </table>
            <partial name="PartialView/_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No user exists...</p>
        }
    </div>
</form>